 html{
	 scroll-behavior: smooth;
 }
 
 
 header{
	background-color: magenta;
	width: 100%;
	position: fixed;
	display: flex;
	justify-content: space-evenly;
	align-items:flex;
}
.logo{
    color: darkmagenta;
    text-transform:uppercase ;
    font-family: algerian;
}

.navigation a {
	color: black;
	font-weight: 400;
	font-size: 20px;
	font-family: arial;
	text-decoration: none;
	padding-left: 50px;
	display:inline-block;
	margin-top: 15px;


}
.navigation a:hover{
	color: lightyellow;
	
}
section{
	padding:100px 200px;

}
.main{
	width: 100%;
	align-items: center ;
	min-height: 100vh;
	color: rgb(221, 144, 221) ;
	background: url(img/img.html.jpg);
	background-size: cover;
}
.cont{
	margin-top: 15%;
}
.main h2  span{
	font-family: new times roman;
	color: hotpink;
	font-size:50px;
}
.socialicons a{
	font-size: 30px;
	padding: 20px;
	display: inline;
	color: bisque;
}
.title{
	text-align: center;
	color: darkgoldenrod;
	font-size: 40px;
	font-family: algerian;
}
.photo{
	font-size: 20px;
	font-family: 'Times New Roman', Times, serif;
	color: rgb(226, 43, 217);
	text-align: left;
}
.card{
	border: none;
	border-radius: 20px;
	background-color: white;
	box-shadow: 0px 5px 25px darkmagenta ;
	padding: 25px;
	margin: 15px;
	width: 21.25em;
	transition: 0.5s ease;
	text-align: center;
	display: inline-block;
	
}
.cards{
	display: inline-block;
	text-align: center;


}
.card:hover{
	transform:scale(1.1) ;
}
.infocard{
	text-align: center;
	padding: 20px;
	margin: 20px;
	font-size: 21px;
	font-family: 'Times New Roman', Times, serif;
	color:dark

}
.infocard:hover{
	color: goldenrod;
}
.monimg img{
	width: 100%;
	height: 400px;
}
.content{
	display: flex;
	justify-content:center;
	flex-direction: row;

}
h4{
	color: rgb(226, 43, 195);
	font-size: 25px;
	font-family: 'Times New Roman', Times, serif;

}
.icon{
	font-size: 5em;
	text-align: center;
	padding-bottom: 30px;
}

.image1{
	display: inline-block;
	justify-content: center;
	margin: 20px;
	padding: 5px;
	border: none;
	border-radius: 20px;
	background-color: white;
	box-shadow: 0px 5px 25px darkmagenta ;
	
}
.image2{
	display: inline-block;
	justify-content: center;
	border: none;
	border-radius: 20px;
	margin: 20px;
	padding: 5px;
	background-color: white;
	box-shadow: 0px 5px 25px darkmagenta ;
}
h3{
	font-style: bold;
	font-size: 22px;
}
.infocard a{
	text-decoration: none;
	color: black;
	font-size: 25px;

}
.infocard a:hover{
	color: goldenrod;
	
}
.infocard p{
	font-size: 25px;
}
.infocard p:hover{
	color: goldenrod;
}

@media(max-width:1023px){

	.navigation a {
		font-weight: 800;
		font-size: 40px;
		padding-left: 20px;
		margin-top: 20px;
	
	}
	.main h2  span{
		font-size:100px;
	}
	.main{
		width: 100%;
		font-size: 60px;
	}
	.socialicons a{
		font-size: 50px;
	}
	.logo{
		font-size: 60px;
	}
	.infoprofil{
		font-size:50px ;
	}
	.card{
		font-size: 15px;
		width: 570px;
		margin-right: 50px;
	}
	.infocard{
		font-size: 50px;
		font-style: bold;
	}
	.title{
		font-size: 60px ;
	}
	.infocard a{
		font-size: 40px;
}
.infocard p{
	font-size: 40px;
}


}